body{
  padding-top: 50px;
}
.info {
  text-align: center;
  font-size: 21px;
}

.centrar{
  text-align: center;
}

/* Backgrounds section Como puedo Ayudar */
.backgroundRosa{
  background-color: #F68686;
  text-align: center;
  color: white;
}

.backgroundAzul{
  background-color: #3FC1C9;
  text-align: center;
  color: white;
}

.backgroundAmarillo{
  background-color: #FCE38A;
  text-align: center;
  color: white;
}
S
